resources/gateway_server.json
[{"id":"9c33dd5b.b3c878","type":"subflow","name":"Request Update Light (3)","info":"","category":"","in":[{"x":40,"y":40,"wires":[{"id":"db10d1d8.b9e49"}]}],"out":[],"env":[],"inputLabels":["id"]},{"id":"db10d1d8.b9e49","type":"function","z":"9c33dd5b.b3c878","name":"Extract id from url params","func":"var id = msg.req.params.id;\n\nmsg.payload = id;\n\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":40,"wires":[["bfc6169a.d739a"]]},{"id":"bfc6169a.d739a","type":"function","z":"9c33dd5b.b3c878","name":"SELECT light by id","func":"var id = msg.payload;\n\nmsg.topic = `SELECT * FROM light WHERE id=${id}`\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":100,"wires":[["79d142a0.c4b7cc"]],"inputLabels":["id"]},{"id":"79d142a0.c4b7cc","type":"sqlite","z":"9c33dd5b.b3c878","mydb":"7c12b369.af8d64","sqlquery":"msg.topic","sql":"","name":"","x":170,"y":160,"wires":[["bd33889e.c5bf7"]]},{"id":"6668715d.93172","type":"http request","z":"9c33dd5b.b3c878","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":190,"y":280,"wires":[["a63871e4.f7202"]]},{"id":"bd33889e.c5bf7","type":"function","z":"9c33dd5b.b3c878","name":"Prepare HTTP-Request","func":"var ipAddress = msg.payload[0].ip_address;\nvar port = msg.payload[0].port;\n\nmsg.url = `http://${ipAddress}:${port}/leds`;\n\nmsg.payload = {\n    r: msg.payload[0].r,\n    g: msg.payload[0].g,\n    b: msg.payload[0].b\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":220,"wires":[["6668715d.93172","a63871e4.f7202"]]},{"id":"a63871e4.f7202","type":"debug","z":"9c33dd5b.b3c878","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":400,"y":300,"wires":[]},{"id":"f0726a1a.8edbc8","type":"subflow","name":"Smart Network Devices","info":"","category":"","in":[{"x":40,"y":40,"wires":[{"id":"5c8a437e.bca5c4"}]}],"out":[{"x":740,"y":40,"wires":[{"id":"43e50234.53b36c","port":0}]}],"env":[]},{"id":"5c8a437e.bca5c4","type":"exec","z":"f0726a1a.8edbc8","command":"arp -n | awk '{print $1}'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":200,"y":40,"wires":[["43e50234.53b36c"],[],[]]},{"id":"43e50234.53b36c","type":"function","z":"f0726a1a.8edbc8","name":"Extract IP Addresses","func":"var ipAddresses = msg.payload.split(\"\\n\");\nmsg.payload = [];\nipAddresses.forEach(function(ipAddress) {\n    if(/^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/.test(ipAddress)) {\n        msg.payload.push(ipAddress);\n    }\n}); \nreturn msg;","outputs":1,"noerr":0,"x":440,"y":40,"wires":[[]]},{"id":"b89282a.b8e5f8","type":"tab","label":"Server","disabled":false,"info":""},{"id":"17565a57.7e2cce","type":"sqlite","z":"b89282a.b8e5f8","mydb":"7c12b369.af8d64","sqlquery":"msg.topic","sql":"","name":"","x":610,"y":120,"wires":[[]]},{"id":"5f7fe454.52507c","type":"inject","z":"b89282a.b8e5f8","name":"CREATE TABLE light","topic":"CREATE TABLE IF NOT EXISTS light(id INTEGER PRIMARY KEY, name TEXT, ip_address TEXT, port INTEGER, r INTEGER, g INTEGER, b INTEGER)","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":403,"y":120,"wires":[["17565a57.7e2cce"]]},{"id":"da6fb407.eb6cb","type":"function","z":"b89282a.b8e5f8","name":"UPDATE light by id","func":"var id = msg.payload.id;\nvar name = msg.payload.name;\nvar r = msg.payload.r;\nvar g = msg.payload.g;\nvar b = msg.payload.b;\n\nvar sql = 'UPDATE light SET ';\nvar sqlparts = [];\n\nif (name) {\n    sqlparts.push(`name='${name}'`);\n}\n\nif (r !== undefined) {\n    sqlparts.push(`r=${r}`);\n}\n\nif (g !== undefined) {\n    sqlparts.push(`g=${g}`);\n}\n\nif (b !== undefined) {\n    sqlparts.push(`b=${b}`);\n}\n\nsql += sqlparts.join(',');\n\nsql += ` WHERE id=${id}`;\n\nmsg.topic = sql;\n\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":440,"wires":[["c034f89f.1ba968"]]},{"id":"3e705124.f6a286","type":"http in","z":"b89282a.b8e5f8","name":"","url":"/devices","method":"get","upload":false,"swaggerDoc":"","x":360,"y":640,"wires":[["d09fcc25.049a08"]]},{"id":"83b23026.a7a87","type":"http in","z":"b89282a.b8e5f8","name":"","url":"/lights","method":"get","upload":false,"swaggerDoc":"","x":350,"y":220,"wires":[["89525b2a.c3265"]]},{"id":"b2702350.2217b8","type":"http in","z":"b89282a.b8e5f8","name":"","url":"/lights","method":"post","upload":false,"swaggerDoc":"","x":350,"y":320,"wires":[["2b5c3a15.2fbef6"]]},{"id":"89525b2a.c3265","type":"sqlite","z":"b89282a.b8e5f8","mydb":"7c12b369.af8d64","sqlquery":"fixed","sql":"SELECT * FROM light","name":"SELECT light","x":500,"y":220,"wires":[["48082c73.9fa524"]]},{"id":"48082c73.9fa524","type":"http response","z":"b89282a.b8e5f8","name":"","statusCode":"200","headers":{},"x":680,"y":220,"wires":[]},{"id":"2b5c3a15.2fbef6","type":"function","z":"b89282a.b8e5f8","name":"INSERT light","func":"var name = msg.payload.name;\nvar ipAddress = msg.payload.ip_address;\nvar port = msg.payload.port;\nvar r = msg.payload.r || 0;\nvar g = msg.payload.g || 0;\nvar b = msg.payload.b || 0;\n\nmsg.topic = `INSERT INTO light \n        VALUES(\n            null,\n            '${name}',\n            '${ipAddress}',\n            ${port},\n            ${r},\n            ${g},\n            ${b}\n        )`\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":320,"wires":[["32e0aa33.72229e"]]},{"id":"32e0aa33.72229e","type":"sqlite","z":"b89282a.b8e5f8","mydb":"7c12b369.af8d64","sqlquery":"msg.topic","sql":"","name":"","x":650,"y":320,"wires":[["2c667d77.d5233a","2e202340.b9bc44"]]},{"id":"dad5ede3.5eb3d","type":"http in","z":"b89282a.b8e5f8","name":"","url":"/lights/:id","method":"put","upload":false,"swaggerDoc":"","x":360,"y":440,"wires":[["71a6bd25.bdd57c"]]},{"id":"c034f89f.1ba968","type":"sqlite","z":"b89282a.b8e5f8","mydb":"7c12b369.af8d64","sqlquery":"msg.topic","sql":"","name":"","x":980,"y":440,"wires":[["76c914fd.0e36fc","2cdfcfc6.c5d0c"]]},{"id":"76c914fd.0e36fc","type":"http response","z":"b89282a.b8e5f8","name":"","statusCode":"200","headers":{},"x":1150,"y":440,"wires":[]},{"id":"661f0ae7.870bcc","type":"http in","z":"b89282a.b8e5f8","name":"","url":"/lights/:id","method":"delete","upload":false,"swaggerDoc":"","x":370,"y":540,"wires":[["56264ba.95edab4"]]},{"id":"71a6bd25.bdd57c","type":"function","z":"b89282a.b8e5f8","name":"Extract id from url params","func":"var id = msg.req.params.id;\n\nmsg.payload.id = id;\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":440,"wires":[["da6fb407.eb6cb"]]},{"id":"2c667d77.d5233a","type":"http response","z":"b89282a.b8e5f8","name":"","statusCode":"200","headers":{},"x":820,"y":320,"wires":[]},{"id":"56264ba.95edab4","type":"http response","z":"b89282a.b8e5f8","name":"","statusCode":"200","headers":{},"x":670,"y":540,"wires":[]},{"id":"8a5ec5ed.8839a8","type":"http response","z":"b89282a.b8e5f8","name":"","statusCode":"","headers":{},"x":900,"y":640,"wires":[]},{"id":"d09fcc25.049a08","type":"subflow:f0726a1a.8edbc8","z":"b89282a.b8e5f8","name":"Get Smart Network Devices","env":[],"x":610,"y":640,"wires":[["8a5ec5ed.8839a8"]]},{"id":"2cdfcfc6.c5d0c","type":"subflow:9c33dd5b.b3c878","z":"b89282a.b8e5f8","name":"","x":1190,"y":480,"wires":[]},{"id":"2e202340.b9bc44","type":"subflow:9c33dd5b.b3c878","z":"b89282a.b8e5f8","name":"","x":860,"y":360,"wires":[]},{"id":"9f2a5111.19bf2","type":"catch","z":"b89282a.b8e5f8","name":"","scope":null,"uncaught":false,"x":340,"y":740,"wires":[["115e1550.109f1b"]]},{"id":"115e1550.109f1b","type":"http response","z":"b89282a.b8e5f8","name":"","statusCode":"400","headers":{},"x":510,"y":740,"wires":[]},{"id":"cae4eb07.d48558","type":"comment","z":"b89282a.b8e5f8","name":"Gib alle registrierten Glühbirnen","info":"","x":1180,"y":180,"wires":[]},{"id":"8374ef6c.2abac","type":"comment","z":"b89282a.b8e5f8","name":"Gib alle IP-Adressen im Netzwerk","info":"","x":1190,"y":100,"wires":[]},{"id":"359b1a06.3e60de","type":"comment","z":"b89282a.b8e5f8","name":"Eine Glühbirne registrieren","info":"","x":1170,"y":340,"wires":[]},{"id":"992c75f.6f54188","type":"comment","z":"b89282a.b8e5f8","name":"Eine Glühbirne löschen","info":"","x":1150,"y":220,"wires":[]},{"id":"d62a7e05.48703","type":"comment","z":"b89282a.b8e5f8","name":"Eine Glühbirne updaten","info":"","x":1150,"y":300,"wires":[]},{"id":"f73b033d.0ec99","type":"comment","z":"b89282a.b8e5f8","name":"Datenbank initial erstellen","info":"","x":1160,"y":260,"wires":[]},{"id":"24658cf1.9915ec","type":"comment","z":"b89282a.b8e5f8","name":"Auf Fehler reagieren","info":"","x":1140,"y":140,"wires":[]},{"id":"7c12b369.af8d64","type":"sqlitedb","z":"","db":"gateway.db","mode":"RWC"}]